<fieldset data-step="1">
  <div class="container ">
      <p class="title_form">Ingrese la siguiente información relacionada con la gestante.</p>
      <div class="row form_row">
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                
      <!--           <label for="tipo_identificacion" >Tipo de archivo</label>
                <input type="text" id="id_tipo_archivo" name="tipo_archivo" value="{{ form_datos_gestante.tipo_archivo.value }}"> -->
                  <label for="segundo_nombre">Segundo Nombre</label>
                  <input type="text" id="segundo_nombre" name="segundo_nombre" placeholder="Ingrese Segundo Nombre">
                  <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                  <input type="text" id="fecha_nacimiento"
                      name="fecha_nacimiento" placeholder="Ingrese fecha de nacimiento">
                  <label for="codigo_nivel_educativo">Código Nivel Educativo</label>
                  <input type="text" id="codigo_nivel_educativo"
                      name="codigo_nivel_educativo" placeholder="Ingrese Nivel Educativo">
                  <label for="codigo_municipio">Código Municipio</label>
                  <input type="text" id="codigo_municipio"
                      name="codigo_municipio" placeholder="Ingrese Municipio">
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
             <label for="numero_identificacion">Número de Identificación</label>
                  <input type="text" id="numero_identificacion"
                      name="numero_identificacion"  placeholder="Ingrese Número de Identificación">
                  <label for="primer_apellido">Primer Apellido</label>
                  <input type="text" id="primer_apellido"
                      name="primer_apellido"  placeholder="Ingrese Primer Apellido">
                  <label for="codigo_etnica">Étnica</label>
                  <input type="text" id="codigo_etnica" name="codigo_etnica"  placeholder="Ingrese Étnia">
                  <label for="fecha_posible_parto">Fecha Posible Parto</label>
                  <input type="text" id="fecha_posible_parto"
                      name="fecha_posible_parto"  placeholder="Ingrese Fecha Posible de Parto">
                  <label for="zona_territorial">Zona Territorial</label>
                  <input type="text" id="zona_territorial"
                      name="zona_territorial"  placeholder="Ingrese Zona Territorial">
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
           <label for="primer_nombre">Primer Nombre</label>
                  <input type="text" id="primer_nombre" name="primer_nombre" placeholder="Ingrese Primer Nombre">
                  <label for="segundo_apellido">Segundo Apellido</label>
                  <input type="text" id="segundo_apellido"
                      name="segundo_apellido" placeholder="Ingrese Segundo Apellidp">
                  <label for="codigo_ocupacion">Ocupación</label>
                  <input type="text" id="codigo_ocupacion"
                      name="codigo_ocupacion" placeholder="Ingrese Ocupación">
                  <label for="codigo_nacionalidad">Nacionalidad</label>
                  <input type="text" id="codigo_nacionalidad"
                      name="codigo_nacionalidad" placeholder="Ingrese Nacionalidad"> 
              </div>
          </div>
      </div>
  </div>
  <div class="f1-buttons">
      <button type="button" class="btn btn-close"><i class="fas fa-walking"></i>Cerrar</button>
      <button type="button" class="btn btn-next">Siguiente<i class="fas fa-forward"></i></button>
  </div>
</fieldset>

<fieldset data-step="2">
  <div class="container">
      <p class="title_form">Ingrese la siguiente información relacionada con la gestante.</p>
      <div class="row form_row">
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                  <label for="id_fecha_tecnologia_salud">Fecha Tecnología en Salud</label>
                  <input type="text" id="id_fecha_tecnologia_salud"
                      name="fecha_tecnologia_salud"  placeholder="Ingrese Fecha Tecnología en Salud"/>
                  <label for="id_codigo_cups">Código CUPS</label>
                  <input type="text" id="id_codigo_cups" name="codigo_cups" placeholder="Ingrese Código Cups"/>
                  <label for="id_finalidad_tecnologia">Finalidad Tecnología</label>
                  <input type="text" id="id_finalidad_tecnologia"
                      name="finalidad_tecnologia" placeholder="Ingrese Finalidad de Tecnología"/>
                  <label for="id_clasificacion_riesgo_gestacional">Clasificación
                      Riesgo Gestacional</label>
                  <input type="text" id="id_clasificacion_riesgo_gestacional"
                      name="clasificacion_riesgo_gestacional" placeholder="Seleccione Clasificación Riesgo Gestacional"/>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                  <label for="id_suministro_post">Fecha Suministro Post Evento</label>
                  <input type="text" id="id_suministro_post"
                      name="suministro_post" placeholder="Ingrese Fecha Suministro Post "/>
                  <label for="id_fecha_parto">Fecha de Parto o Cesárea</label>
                  <input type="text" id="id_fecha_parto"
                      name="fecha_parto" placeholder="Ingrese Fecha Parto/Cesárea"/>
                  <label for="id_riesgo_preclampsia">Riesgo Preeclampsia</label>
                  <input type="text" id="id_riesgo_preeclampsia"
                      name="riesgo_preeclampsia" placeholder="Seleccione una Opción"/>
                  <label for="id_suministro_calsio">Suministro Calcio</label>
                  <input type="text" id="id_suministro_calsio"
                      name="suministro_calsio" placeholder="Seleccione una Opción"/>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                  <label for="id_suministro_acetil">Suministro Ácido Acetilsalicílico</label>
                  <input type="text" id="id_suministro_acetil"
                      name="suministro_acetil" placeholder="Seleccione una Opción" />
                  <label for="id_suministro_folico">Suministro Ácido Fólico</label>
                  <input type="text" id="id_suministro_folico"
                      name="suministro_folico" placeholder="Seleccione una Opción" />
                  <label for="id_suministro_sulfato">Suministro Sulfato Ferroso</label>
                  <input type="text" id="id_suministro_sulfato"
                      name="suministro_sulfato" placeholder="Seleccione una Opción"/>
                  <label for="id_suministro_anticonceptivo">Suministro Anticonceptivoo</label>
                  <input type="text" id="id_suministro_anticonceptivo"
                      name="suministro_anticonceptivo" placeholder="Seleccione una Opción"/>
              </div>
          </div>
      </div>
  </div>
  <div class="f1-buttons">
      <button type="button" class="btn btn-previous">Atras</button>
      <button type="button" class="btn btn-next">Siguiente<i class="fas fa-forward"></i></button>
  </div>
</fieldset>

<!-- Seguimiento -->
<fieldset data-step="3">
  <div class="container">
      <p class="title_form">Ingrese la siguiente información relacionada con la gestante.</p>
      <div class="row form_row">
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
              <label for="id_tipo_caso">Tipo de Caso</label>
              <input type="text" id="id_tipo_caso" name="tipo_caso" placeholder="Seleccione una opción"/>
              <label for="id_seguimiento_cita_profesional_medicina">Cita Profesional Medicina</label>
              <input type="text" id="id_seguimiento_cita_profesional_medicina"
                  name="seguimiento_cita_profesional_medicina" placeholder="Seleccione una opción"/>
              <label for="id_seguimiento_cita_procedimientos">Cita Procedimientos</label>
              <input type="text" id="id_seguimiento_cita_procedimientos"
                  name="seguimiento_cita_procedimientos" placeholder="Seleccione una opción" />
              <label for="id_seguimiento_informacion_cuidado_salud">Información Cuidado Salud</label>
              <input type="text" id="id_seguimiento_informacion_cuidado_salud"
                  name="seguimiento_informacion_cuidado_salud" placeholder="Seleccione una opción"/>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
              <label for="id_fecha_seguimiento">Fecha Seguimiento</label>
              <input type="text" id="id_fecha_seguimiento"
                  name="fecha_seguimiento" placeholder="Seleccione fecha de seguimiento"/>
              <label for="id_seguimiento_cita_medicina_especializada">Cita Medicina Especializada</label>
              <input type="text"
                  id="id_seguimiento_cita_medicina_especializada"
                  name="seguimiento_cita_medicina_especializada" placeholder="Seleccione una opción"/>
              <label for="id_seguimiento_entrega_resultados_laboratorio">  Entrega Resultados Laboratorio</label>
              <input type="text"
                  id="id_seguimiento_entrega_resultados_laboratorio"
                  name="seguimiento_entrega_resultados_laboratorio" placeholder="Seleccione una opción"/>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
              <label for="id_tipo_seguimiento">Tipo Seguimiento</label>
              <input type="text" id="id_tipo_seguimiento"
                  name="tipo_seguimiento" placeholder="Seleccione una opción"/>
              <label for="id_seguimiento_referencia_mayor_complejidad">Referencia Mayor Complejidad</label>
              <input type="text"
                  id="id_seguimiento_referencia_mayor_complejidad"
                  name="seguimiento_referencia_mayor_complejidad" placeholder="Seleccione una opción" />
              <label for="id_seguimiento_entrega_medicamentos">Entrega Medicamentos</label>
              <input type="text" id="id_seguimiento_entrega_medicamentos"
                  name="seguimiento_entrega_medicamentos" placeholder="Seleccione una opción" />
              </div>
          </div>
      </div>
  </div>
  <div class="f1-buttons">
      <button type="button" class="btn btn-previous">Atras</button>
      <button type="button" class="btn btn-next">Siguiente<i class="fas fa-forward"></i></button>
  </div>
</fieldset>

<fieldset data-step="4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <label for="tipo_actividad">Tipo de Actividad</label>
              <input type="text" id="tipo_actividad" name="tipo_actividad">
          </div>
          <div class="col-md-4">
              <label for="archivo">Archivo</label>
              <input type="file" id="archivo" name="archivo">
          </div>
          <div class="col-md-4">
              <!-- Columna vacía -->
          </div>
      </div>
  </div>
  <div class="f1-buttons">
      <button type="button" class="btn btn-previous">Atras</button>
      <input type="submit" value="Guardar" />
  </div>
</fieldset>